<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>TEST GLMOL</title>

    </head>

    <body>
        <script src="/static/jquery-1.7.min.js" charset="utf-8"></script>
        <script src="/static/Three49custom.js" charset="utf-8"></script>
        <script src="/static/GLmol.js" charset="utf-8"></script>


        <h1>VISU AVEC FICHIER</h1>


        <form action = "./result" method = "POST">
            <p>Enter Name:</p>
            <p><input type = "text" name = "nm" /></p>
            <p><input type = "submit" value = "submit" /></p>
         </form>

        <!-- <input type="file"  id="inputFile" name = "my_button">
        <button onclick="loadFile()">GO</button>

        <div id="glmolFichier">
            <canvas></canvas>
        </div>

        <textarea  id="glmolFichier_src"></textarea>

        <script type="text/javascript">

            var glmolFichier = new GLmol("glmolFichier", true);
            
            function loadFile(){
                var file = $('#inputFile').get(0);
                if (file) 
                    file = file.files;
                var reader = new FileReader();
                reader.onload = function() {
                    $('#glmolFichier_src').val(reader.result);
                    glmolFichier.loadMolecule();
                };
                reader.readAsText(file[0]);
            };


        </script> -->
        
    </body>

</html>
